.header {
  background-image: url(/assets/ep_naturalblack.png);
  background-size: auto auto;
  background-repeat: repeat;
  background-color: black;
  .branding {
      height: 45px;
      margin: 0px auto;
      h1 {
        color: white;
        margin-top: 0.35rem
      }
  }
}
